@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300;500;700;900&display=swap');

:root {
  --primary-font: 'Poppins', sans-serif;
  --primary-color: #282c34;
  --secondary-color: #0c2cff;
  --accent-color: #fbfb0b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

body {
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 22em;
  height: 100%;
  color: #FFF;
  border: solid 2px #fff;
  border-radius: 20px;
}

.card h1 {
  font-weight: 700;
  font-size: 1rem;
  padding: 10px;
}

.card h2 {
  font-weight: 300;
  font-size: 0.8rem;
  padding: 2px;
}

.task-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.task-form > input {
  width: 20em;
  padding: 5px;
  text-indent: 10px;
  border-radius: 20px;
  border: none;
  margin: 10px;
}

.btn-add, .btn-edit, .btn-delete {
  background: var(--accent-color);
  border: none;
  height: 2rem;
  padding: 5px;
  border-radius: 20px;
  margin: 0 5px;
  transition: opacity 0.3s ease-in;
}

.btn-add:hover, .btn-edit:hover, .btn-delete:hover {
  opacity: 0.75;
}

.task-list {
  list-style: none;
}

.task-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20em;
  padding: 8px 20px;
  margin: 10px 0;
  background: var(--secondary-color);
  border-radius: 50px;
}

.task-text {
  flex: 1;
  text-align: start;
  font-size: 0.9rem;
  font-weight: 300;
}
